.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;

  z-index: 1;

  padding-top: 3rem;
  padding-bottom: 3rem;

  background-color: $modal-menu-background-color;

  transition-property: none;

  .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.mobile-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.mobile-menu-thmb {
  margin-top: auto;
}
.mobile-menu-list {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.93rem;
  letter-spacing: 0.02em;
  color: $modal-menu-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .mobile-menu-item:hover,
  .mobile-menu-item:focus {
    color: $modal-menu-accent-color;
  }
}
.mobile-contact-list {
  margin-bottom: 4rem;
}
.mobile-social-list {
  display: flex;
  flex-wrap: wrap;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.37rem;
  letter-spacing: 0.02em;

  color: $modal-menu-social-color;
  .mobile-menu-item:not(:last-child) {
    margin-right: 0.625rem;
    padding-right: 0.625rem;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  @media screen and (min-width: $mobile-brk-point) {
    flex-wrap: nowrap;
  }
}
.mobile-menu-item--tel {
  font-size: 2.125rem;
  line-height: 2.5rem;

  margin-bottom: 2rem;

  color: $modal-menu-accent-color;
}
.mobile-menu-item--mail {
  font-size: 1.5rem;
  line-height: 1.75rem;

  color: $modal-menu-mail-color;
}
.mobile-menu-link {
  color: currentColor;
}
.menu-close-btn {
  position: absolute;
  display: flex;

  top: -2.5rem;
  right: 0.937rem;

  width: 2.5rem;
  height: 2.5rem;

  padding: 0;
  margin: 0;

  justify-content: center;
  align-items: center;

  border: none;

  background-color: transparent;
  cursor: pointer;

  &:hover > .menu__close-icon,
  &:focus > .menu__close-icon {
    fill: $modal-close-hover-color;
  }
}
.menu__close-icon {
  width: 1.15rem;
  height: 1.15rem;

  fill: $modal-close-icon-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
