.hero {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  background-color: $accent-background-color;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    $hero-background-image;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  @media screen and (min-width: $tablet-brk-point) {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  @media screen and (min-width: $desktop-brk-point) {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
}
.hero__title {
  max-width: 22.5rem;

  color: $hero-text-color;
  font-weight: 900;
  font-size: 1.625rem;
  line-height: 2.625rem;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;

  &--magrin {
    margin-bottom: 1.875rem;
  }
  @media screen and (min-width: $desktop-brk-point) {
    max-width: 43.5rem;

    font-size: 2.75rem;
    line-height: 3.75rem;
  }
}
