.filter-list {
  display: flex;
  justify-content: center;

  padding-left: auto;
  padding-right: auto;
}
.filter-list--margin {
  margin-bottom: 3.125rem;
}
.filter-list__item {
  flex-basis: calc(100% / 5-0.5rem);

  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}
